@charset "UTF-8";

@font-face {
  font-family: 'iconic';
  src: url('iconic.eot');
  src: url('iconic.eot?#iefix') format('embedded-opentype'),
       url('iconic.woff') format('woff'),
       url('iconic.ttf') format('truetype'),
       url('iconic.svg#iconic') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: iconic;
  font-style: normal;

  /* font-size: 14px; */

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.icon-hash:before { content: "#"; } /* '\23' */
.icon-question_mark:before { content: "?"; } /* '\3f' */
.icon-at:before { content: "@"; } /* '\40' */
.icon-pilcrow:before { content: "¶"; } /* '\b6' */
.icon-info:before { content: "ℹ"; } /* '\2139' */
.icon-arrow_left:before { content: "←"; } /* '\2190' */
.icon-arrow_up:before { content: "↑"; } /* '\2191' */
.icon-arrow_right:before { content: "→"; } /* '\2192' */
.icon-arrow_down:before { content: "↓"; } /* '\2193' */
.icon-home:before { content: "⌂"; } /* '\2302' */
.icon-sun_stroke:before { content: "☼"; } /* '\263c' */
.icon-sun_fill:before { content: "☀"; } /* '\2600' */
.icon-cloud:before { content: "☁"; } /* '\2601' */
.icon-umbrella:before { content: "☂"; } /* '\2602' */
.icon-star:before { content: "★"; } /* '\2605' */
.icon-moon_stroke:before { content: "☾"; } /* '\263e' */
.icon-moon_fill:before { content: ""; } /* '\e07a' */
.icon-heart_stroke:before { content: "♡"; } /* '\2661' */
.icon-heart_fill:before { content: "♥"; } /* '\2665' */
.icon-cog:before { content: "⚙"; } /* '\2699' */
.icon-bolt:before { content: "⚡"; } /* '\26a1' */
.icon-key_stroke:before { content: "⚿"; } /* '\26bf' */
.icon-key_fill:before { content: "🔑"; } /* '\1f511' */
.icon-rain:before { content: "⛆"; } /* '\26c6' */
.icon-denied:before { content: "🚫"; } /* '\1f6ab' */
.icon-mail:before { content: "✉"; } /* '\2709' */
.icon-pen:before { content: "✎"; } /* '\270e' */
.icon-check:before { content: "✓"; } /* '\2713' */
.icon-check_alt:before { content: "✔"; } /* '\2714' */
.icon-x:before { content: "✗"; } /* '\2717' */
.icon-x_alt:before { content: "✘"; } /* '\2718' */
.icon-left_quote:before { content: "❝"; } /* '\275d' */
.icon-right_quote:before { content: "❞"; } /* '\275e' */
.icon-plus:before { content: "➕"; } /* '\2795' */
.icon-minus:before { content: "➖"; } /* '\2796' */
.icon-curved_arrow:before { content: "⤵"; } /* '\2935' */
.icon-document_alt_stroke:before { content: "📄"; } /* '\1f4c4' */
.icon-document_alt_fill:before { content: ""; } /* '\e080' */
.icon-calendar:before { content: "📅"; } /* '\1f4c5' */
.icon-map_pin_alt:before { content: ""; } /* '\e002' */
.icon-comment_alt1_stroke:before { content: ""; } /* '\e003' */
.icon-comment_alt1_fill:before { content: ""; } /* '\e083' */
.icon-comment_alt2_stroke:before { content: ""; } /* '\e004' */
.icon-comment_alt2_fill:before { content: ""; } /* '\e084' */
.icon-pen_alt_stroke:before { content: ""; } /* '\e005' */
.icon-pen_alt_fill:before { content: ""; } /* '\e085' */
.icon-pen_alt2:before { content: ""; } /* '\e006' */
.icon-chat_alt_stroke:before { content: ""; } /* '\e007' */
.icon-chat_alt_fill:before { content: ""; } /* '\e087' */
.icon-plus_alt:before { content: ""; } /* '\e008' */
.icon-minus_alt:before { content: ""; } /* '\e009' */
.icon-bars_alt:before { content: ""; } /* '\e00a' */
.icon-book_alt:before { content: "📔"; } /* '\1f4d4' */
.icon-aperture_alt:before { content: ""; } /* '\e00c' */
.icon-beaker_alt:before { content: ""; } /* '\e010' */
.icon-left_quote_alt:before { content: ""; } /* '\e011' */
.icon-right_quote_alt:before { content: ""; } /* '\e012' */
.icon-arrow_left_alt1:before { content: ""; } /* '\e013' */
.icon-arrow_up_alt1:before { content: ""; } /* '\e014' */
.icon-arrow_right_alt1:before { content: ""; } /* '\e015' */
.icon-arrow_down_alt1:before { content: ""; } /* '\e016' */
.icon-arrow_left_alt2:before { content: ""; } /* '\e017' */
.icon-arrow_up_alt2:before { content: ""; } /* '\e018' */
.icon-arrow_right_alt2:before { content: ""; } /* '\e019' */
.icon-arrow_down_alt2:before { content: ""; } /* '\e01a' */
.icon-brush:before { content: ""; } /* '\e01b' */
.icon-brush_alt:before { content: ""; } /* '\e01c' */
.icon-eyedropper:before { content: ""; } /* '\e01e' */
.icon-layers:before { content: ""; } /* '\e01f' */
.icon-layers_alt:before { content: ""; } /* '\e020' */
.icon-compass:before { content: ""; } /* '\e021' */
.icon-award_stroke:before { content: ""; } /* '\e022' */
.icon-award_fill:before { content: ""; } /* '\e0a2' */
.icon-beaker:before { content: ""; } /* '\e023' */
.icon-steering_wheel:before { content: ""; } /* '\e024' */
.icon-eye:before { content: ""; } /* '\e025' */
.icon-aperture:before { content: ""; } /* '\e026' */
.icon-image:before { content: ""; } /* '\e027' */
.icon-chart:before { content: ""; } /* '\e028' */
.icon-chart_alt:before { content: ""; } /* '\e029' */
.icon-target:before { content: "🎯"; } /* '\1f3af' */
.icon-tag_stroke:before { content: ""; } /* '\e02b' */
.icon-tag_fill:before { content: ""; } /* '\e0ab' */
.icon-rss:before { content: ""; } /* '\e02c' */
.icon-rss_alt:before { content: ""; } /* '\e02d' */
.icon-share:before { content: ""; } /* '\e02e' */
.icon-undo:before { content: "↶"; } /* '\21b6' */
.icon-reload:before { content: "↻"; } /* '\21bb' */
.icon-reload_alt:before { content: ""; } /* '\e031' */
.icon-loop_alt1:before { content: ""; } /* '\e032' */
.icon-loop_alt2:before { content: ""; } /* '\e033' */
.icon-loop_alt3:before { content: ""; } /* '\e034' */
.icon-loop_alt4:before { content: ""; } /* '\e035' */
.icon-spin:before { content: ""; } /* '\e036' */
.icon-spin_alt:before { content: ""; } /* '\e037' */
.icon-move_horizontal:before { content: ""; } /* '\e038' */
.icon-move_horizontal_alt1:before { content: ""; } /* '\e039' */
.icon-move_horizontal_alt2:before { content: ""; } /* '\e03a' */
.icon-move_vertical:before { content: ""; } /* '\e03b' */
.icon-move_vertical_alt1:before { content: ""; } /* '\e03c' */
.icon-move_vertical_alt2:before { content: ""; } /* '\e03d' */
.icon-move:before { content: ""; } /* '\e03e' */
.icon-move_alt1:before { content: ""; } /* '\e03f' */
.icon-move_alt2:before { content: ""; } /* '\e040' */
.icon-transfer:before { content: ""; } /* '\e041' */
.icon-download:before { content: ""; } /* '\e042' */
.icon-upload:before { content: ""; } /* '\e043' */
.icon-cloud_download:before { content: ""; } /* '\e044' */
.icon-cloud_upload:before { content: ""; } /* '\e045' */
.icon-fork:before { content: "⎇"; } /* '\2387' */
.icon-play:before { content: "▻"; } /* '\25bb' */
.icon-play_alt:before { content: ""; } /* '\e048' */
.icon-pause:before { content: "⎉"; } /* '\2389' */
.icon-stop:before { content: "▪"; } /* '\25aa' */
.icon-eject:before { content: "⏏"; } /* '\23cf' */
.icon-first:before { content: "⏮"; } /* '\23ee' */
.icon-last:before { content: "⏭"; } /* '\23ed' */
.icon-fullscreen:before { content: ""; } /* '\e04e' */
.icon-fullscreen_alt:before { content: ""; } /* '\e04f' */
.icon-fullscreen_exit:before { content: ""; } /* '\e050' */
.icon-fullscreen_exit_alt:before { content: ""; } /* '\e051' */
.icon-equalizer:before { content: ""; } /* '\e052' */
.icon-article:before { content: ""; } /* '\e053' */
.icon-read_more:before { content: ""; } /* '\e054' */
.icon-list:before { content: ""; } /* '\e055' */
.icon-list_nested:before { content: ""; } /* '\e056' */
.icon-cursor:before { content: ""; } /* '\e057' */
.icon-dial:before { content: ""; } /* '\e058' */
.icon-new_window:before { content: ""; } /* '\e059' */
.icon-trash_stroke:before { content: ""; } /* '\e05a' */
.icon-trash_fill:before { content: ""; } /* '\e0da' */
.icon-battery_half:before { content: ""; } /* '\e05b' */
.icon-battery_empty:before { content: ""; } /* '\e05c' */
.icon-battery_charging:before { content: ""; } /* '\e05d' */
.icon-chat:before { content: ""; } /* '\e05e' */
.icon-mic:before { content: "🎤"; } /* '\1f3a4' */
.icon-movie:before { content: "🎬"; } /* '\1f3ac' */
.icon-headphones:before { content: "🎧"; } /* '\1f3a7' */
.icon-user:before { content: "👤"; } /* '\1f464' */
.icon-lightbulb:before { content: "💡"; } /* '\1f4a1' */
.icon-cd:before { content: "💿"; } /* '\1f4bf' */
.icon-folder_stroke:before { content: ""; } /* '\e065' */
.icon-folder_fill:before { content: ""; } /* '\e0e5' */
.icon-document_stroke:before { content: "📃"; } /* '\1f4c3' */
.icon-document_fill:before { content: ""; } /* '\e0e6' */
.icon-pin:before { content: "📌"; } /* '\1f4cc' */
.icon-map_pin_stroke:before { content: ""; } /* '\e068' */
.icon-map_pin_fill:before { content: ""; } /* '\e0e8' */
.icon-book:before { content: "📕"; } /* '\1f4d5' */
.icon-book_alt2:before { content: "📖"; } /* '\1f4d6' */
.icon-box:before { content: ""; } /* '\e06b' */
.icon-calendar_alt_stroke:before { content: "📆"; } /* '\1f4c6' */
.icon-calendar_alt_fill:before { content: ""; } /* '\e0ec' */
.icon-comment_stroke:before { content: ""; } /* '\e06d' */
.icon-comment_fill:before { content: ""; } /* '\e0ed' */
.icon-iphone:before { content: ""; } /* '\e06e' */
.icon-bars:before { content: ""; } /* '\e06f' */
.icon-camera:before { content: "📷"; } /* '\1f4f7' */
.icon-volume_mute:before { content: "🔇"; } /* '\1f507' */
.icon-volume:before { content: "🔊"; } /* '\1f50a' */
.icon-battery_full:before { content: ""; } /* '\e073' */
.icon-magnifying_glass:before { content: "🔎"; } /* '\1f50e' */
.icon-lock_stroke:before { content: ""; } /* '\e075' */
.icon-lock_fill:before { content: "🔒"; } /* '\1f512' */
.icon-unlock_stroke:before { content: ""; } /* '\e076' */
.icon-unlock_fill:before { content: "🔓"; } /* '\1f513' */
.icon-link:before { content: "🔗"; } /* '\1f517' */
.icon-wrench:before { content: "🔧"; } /* '\1f527' */
.icon-clock:before { content: "🕔"; } /* '\1f554' */
.icon-paperclip:before { content: ""; } /* '\e08a' */

